@font-face {
	font-family: "PP_SF Neue Machina";
	src: url("./PPNeueMachina-InktrapRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HeliosExt Web";
	src: url("./heliosext.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin leftFirst {
	left: calc(50% - 935px);

	@media screen and (min-width: 2440px) {
		left: calc(50% - 1175px);
	}

	@media screen and (max-width: 1919px) {
		left: calc(50% - 585px);
	}

	@media screen and (max-width: 1199px) {
		left: calc(50% - 455px);
	}

	@media screen and (max-width: 939px) {
		left: calc(50% - 306px);
	}

	@media screen and (max-width: 639px) {
		left: calc(50% - 190px);
	}

	@media screen and (max-width: 399px) {
		left: calc(50% - 135px);
	}
}

@mixin leftSecond {
	left: calc(50% - 117px);
}

html,
body {
	height: 240px;
	width: 100%;
	margin: 0;
}

.link {
	background: #dde6e7;
	position: relative;
	height: 100%;
	width: 100%;
	text-decoration: none;
	display: flex;
	overflow: hidden;
}

.title {
	font-family: "PP_SF Neue Machina";
	color: #ff6945;
	line-height: 1;
	position: absolute;
	top: 74px;
	font-size: 57px;
	width: 800px;
	@include leftFirst;
	z-index: 5;
	transform: translateY(0);
	transition: transform 0.5s;

	@media screen and (min-width: 2440px) {
		top: calc(50% - 132px / 2);
		font-size: 66px;
		width: 900px;
	}

	@media screen and (max-width: 1919px) {
		top: 50px;
		font-size: 46px;
	}

	@media screen and (max-width: 1199px) {
		font-size: 40px;
		width: 550px;
	}

	@media screen and (max-width: 939px) {
		font-size: 28px;
		width: 390px;
	}

	@media screen and (max-width: 639px) {
		top: 37px;
	}

	@media screen and (max-width: 399px) {
		font-size: 22px;
		width: 270px;
		top: 28px;
	}
}

.description {
	color: #043933;
	position: absolute;
	top: 90px;
	@include leftSecond;
	font-size: 32px;
	font-family: "HeliosExt Web";
	line-height: 1.1;
	width: 400px;
	z-index: 4;
	transform: translateY(0);
	transition: transform 0.5s;

	@media screen and (min-width: 2440px) {
		top: calc(50% - 92px / 2);
		left: calc(50% - 197px);
		font-size: 42px;
		width: 600px;
	}

	@media screen and (max-width: 1919px) {
		@include leftFirst;
		top: 158px;
		font-size: 26px;
		width: fit-content;
	}

	@media screen and (max-width: 1199px) {
		top: 146px;
		font-size: 20px;
	}

	@media screen and (max-width: 939px) {
		top: 126px;
		font-size: 18px;
		width: 270px;
	}

	@media screen and (max-width: 639px) {
		top: 106px;
		font-size: 18px;
		width: 320px;
	}

	@media screen and (max-width: 399px) {
		width: 270px;
		top: 108px;
		font-size: 16px;
	}

	span {
		background: #b5e916;
		display: inline-block;
		text-transform: uppercase;
		padding: 0px 4px;

		@media screen and (max-width: 1919px) {
		}
	}
}

.logo {
	position: absolute;
	background-image: url(./SkillFactory.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 14px;
	@include leftFirst;
	width: 170px;
	height: 15px;
	transform: translateY(0);
	transition: transform 0.5s;

	@media screen and (min-width: 2440px) {
		width: 200px;
		height: 18px;
	}

	@media screen and (max-width: 939px) {
		width: 130px;
		height: 12px;
	}

	@media screen and (max-width: 639px) {
		width: 120px;
		height: 11px;
		top: 10px;
	}

	@media screen and (max-width: 399px) {
		width: 110px;
		height: 10px;
		top: 5px;
	}
}

.frame {
	color: #043933;
	position: absolute;
	background: #ffffff;
	display: flex;
	right: calc(50% - 806px);
	width: 264px;
	top: 91px;
	gap: 10px;
	padding: 16px 14px;
	border-radius: 4px;
	border: 3px solid #043933;
	z-index: 3;
	transform: translateY(0);
	transition: transform 0.5s;

	@media screen and (min-width: 2440px) {
		right: calc(50% - 993px);
		width: 366px;
		top: calc(50% - 100px / 2);
	}

	@media screen and (max-width: 1919px) {
		right: calc(50% - 570px);
		width: 244px;
		top: 75px;
		gap: 10px;
		padding: 10px;
		border-radius: 4px;
	}

	@media screen and (max-width: 1199px) {
		right: calc(50% - 420px);
		width: 222px;
		top: 127px;
	}

	@media screen and (max-width: 939px) {
		right: calc(50% - 180px);
		width: 222px;
		top: 117px;
		padding: 6px;
	}

	@media screen and (max-width: 639px) {
		right: unset;
		@include leftFirst;
		width: max-content;
		top: 164px;
		padding: 4px;
		gap: 4px;
		border: 1px solid #043933;
	}

	@media screen and (max-width: 399px) {
	}

	span {
		font-family: "PP_SF Neue Machina";
		color: #ff6945;
		font-size: 22px;
		padding-top: 2px;

		@media screen and (max-width: 1919px) {
		}

		@media screen and (max-width: 1199px) {
		}

		@media screen and (max-width: 639px) {
			font-size: 12px;
		}
	}

	p {
		font-family: "HeliosExt Web";
		font-size: 20px;

		@media screen and (min-width: 2440px) {
			font-size: 26px;
		}

		@media screen and (max-width: 1919px) {
			font-size: 18px;
		}

		@media screen and (max-width: 1199px) {
			font-size: 16px;
		}

		@media screen and (max-width: 639px) {
			font-size: 14px;
		}

		@media screen and (max-width: 399px) {
			font-size: 13px;
		}
	}
}

.disclamer {
	font-family: "HeliosExt Web";
	color: #181818;
	position: absolute;
	opacity: 0.6;
	font-size: 12px;
	bottom: 12px;
	@include leftFirst;
	line-height: 1;
	z-index: 2;

	@media screen and (max-width: 1199px) {
		width: 522px;
	}

	@media screen and (max-width: 939px) {
		width: 372px;
		font-size: 10px;
	}

	@media screen and (max-width: 639px) {
		width: 228px;
		font-size: 8px;
		bottom: 10px;
	}

	@media screen and (max-width: 399px) {
	}
}

.image {
	position: absolute;
	object-fit: contain;
	top: -62px;
	right: calc(50% - 1036px);
	width: 830px;
	z-index: 1;
	opacity: 1;
	transition: opacity 1s;

	@media screen and (min-width: 2440px) {
		top: -72px;
		right: calc(50% - 1266px);
		width: 1030px;
	}

	@media screen and (max-width: 1919px) {
		top: -22px;
		right: calc(50% - 746px);
		width: 680px;
	}

	@media screen and (max-width: 1199px) {
		right: calc(50% - 556px);
		width: 540px;
	}

	@media screen and (max-width: 939px) {
		right: calc(50% - 486px);
		width: 490px;
	}

	@media screen and (max-width: 639px) {
		right: calc(50% - 349px);
		width: 330px;
		top: 78px;
	}

	@media screen and (max-width: 399px) {
		right: calc(50% - 336px);
		width: 280px;
		top: 28px;
		transform: rotate(-45deg);
	}
}

.anim {
	&.title,
	&.logo,
	&.frame,
	&.description {
		transform: translateY(-300%);
		transition: transform 0.5s;
	}

	&.image {
		opacity: 0;
		transition: opacity 1s;
	}
}
