.how-to-learn {
  padding: 90px 0;
  overflow: hidden;
}
@media screen and (max-width: 639px) {
  .how-to-learn {
    padding: 60px 0;
  }
}
.how-to-learn__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;
}
@media screen and (max-width: 959px) {
  .how-to-learn__header {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 639px) {
  .how-to-learn__header {
    gap: 10px;
    margin-bottom: 40px;
  }
}
.how-to-learn__lead {
  font-family: "NTSomic";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #181818;
}
@media screen and (max-width: 639px) {
  .how-to-learn__lead {
    font-size: 15px;
  }
}
.how-to-learn__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 959px) {
  .how-to-learn__main {
    grid-template-columns: 1fr;
  }
}
.how-to-learn__videos {
  position: relative;
}
.how-to-learn__video-container {
  position: absolute;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .how-to-learn__video-container {
    position: absolute;
  }
}
.how-to-learn__video-container_opened {
  position: relative;
  transition: 0.5s;
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.how-to-learn__video-cover {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  position: absolute;
  top: 1px;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  pointer-events: auto;
}
.how-to-learn__video-cover_hidden {
  transition: 0.5s;
  background: transparent;
  pointer-events: none;
}
.how-to-learn__playbutton {
  background-image: url(https://storage.yandexcloud.net/sf-wallaper-bucket/pdev2024/play.svg);
  width: 66px;
  height: 66px;
  margin: auto;
  transition: 0.5s;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
  z-index: 2;
  background-size: contain;
}
.how-to-learn__playbutton svg {
  width: 66px;
  height: 66px;
}
.how-to-learn__playbutton:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.how-to-learn__playbutton_active {
  transition: 0.5s;
  background-image: url(https://storage.yandexcloud.net/sf-wallaper-bucket/pdev2024/pause.svg);
  top: calc(100% - 40px);
  left: 6px;
  width: 30px;
  height: 30px;
}
.how-to-learn .accordeon__header {
  background: #f2f2f4;
  align-items: flex-start;
}
@media screen and (max-width: 639px) {
  .how-to-learn .accordeon__header {
    padding: 15px;
  }
}
.how-to-learn .accordeon__header-content {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.how-to-learn .accordeon .h5-title {
  padding-top: 0;
}
.how-to-learn .accordeon__header-label {
  padding: 0;
  font-size: 20px;
  background: transparent;
  font-family: "NTSomic";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: none;
}
@media screen and (max-width: 639px) {
  .how-to-learn .accordeon__header-label {
    font-size: 15px;
  }
}
.how-to-learn .accordeon__separator div {
  height: 20px;
}
.how-to-learn .accordeon__body-columns {
  display: flex;
  flex-direction: column;
  gap: unset;
}
.how-to-learn .accordeon__body-col {
  gap: unset;
  padding: 0 10px;
}
.how-to-learn .accordeon__text {
  margin-bottom: 10px;
}
.how-to-learn .accordeon__text:last-of-type {
  margin-bottom: 0;
}/*# sourceMappingURL=how-to-learn.css.map */