@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/heliosext.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/HeliosExtC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/PPNeueMachina-InktrapRegular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: 300px;
  }
}

.h2-title {
  color: #181818;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  margin-bottom: 80px;
}
@media screen and (max-width: 1199px) {
  .h2-title {
    font-size: 55px;
  }
}
@media screen and (max-width: 959px) {
  .h2-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 639px) {
  .h2-title {
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .h2-title {
    font-size: 30px;
    line-height: 28px;
  }
}

#allrecords ul {
  padding-left: 0;
}
#allrecords a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "heliosexBOLD-neuemachina", Arial, sans-serif;
  box-sizing: border-box;
}

.quiz-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1199px) {
  .quiz-wrapper .h2-title {
    font-size: 40px;
    line-height: 1;
  }
}
@media screen and (max-width: 639px) {
  .quiz-wrapper {
    overflow: scroll;
  }
  .quiz-wrapper .h2-title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 479px) {
  .quiz-wrapper .h2-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 1019px) {
  .quiz-wrapper {
    align-items: unset;
    overflow: scroll;
  }
}
.quiz-wrapper_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}
.quiz-wrapper .inner-wrapper {
  margin: auto;
}

.quiz {
  padding: 54px 48px 26px 48px;
  background: #fff;
  min-height: 832px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .quiz {
    min-height: unset;
  }
}
@media screen and (max-width: 639px) {
  .quiz {
    position: relative;
    padding: 34px 18px;
    margin: 75px 0;
    min-height: 80vh;
  }
}
@media screen and (max-height: 1019px) {
  .quiz {
    position: relative;
  }
}
.quiz__close {
  position: absolute;
  right: 0;
  top: -53px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  transition: 0.3s;
}
.quiz__close:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.quiz__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz__counter {
  opacity: 0.7;
}
@media screen and (max-width: 639px) {
  .quiz__counter {
    font-size: 14px;
  }
}
.quiz__button {
  padding: 16px 54px;
  border-radius: 6px;
  background: #b5e916;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 639px) {
  .quiz__button {
    font-size: 14px;
    padding: 14px 28px;
  }
}
.quiz__button:hover {
  transition: 0.3s;
  background: #d9fe63;
}

.question {
  display: block;
}
.question_deactive {
  display: none;
}
.question__variants {
  width: 100%;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1199px) {
  .question__variants {
    -moz-column-count: 1;
         column-count: 1;
    margin-bottom: 30px;
  }
}
.question__variant {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 26px 28px;
  align-items: center;
  gap: 30px;
  border-radius: 6px;
  background: #dde6e7;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 16px;
}
.question__variant:hover {
  transition: 0.3s;
  background: #bad2d8;
}
@media screen and (max-width: 959px) {
  .question__variant {
    padding: 14px;
    gap: 10px;
    margin-bottom: 6px;
  }
}
.question__variant_checked .question__circle {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/quiz/checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  transition: 0.3s;
}
@media screen and (max-width: 639px) {
  .question__variant_checked .question__circle {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 1199px) {
  .question__variant:last-of-type {
    margin-bottom: 0;
  }
}
.question__circle {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/quiz/non-checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 26px;
  height: 26px;
  transition: 0.3s;
}
@media screen and (max-width: 639px) {
  .question__circle {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
}
.question__text {
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.question__text p {
  color: #181818;
}
@media screen and (max-width: 639px) {
  .question__text {
    font-size: 12px;
  }
}
.question_long-text .question__variant {
  align-items: flex-start;
}
@media screen and (max-width: 639px) {
  .question_long-text .question__variant {
    align-items: center;
  }
}
.question_imgs .question__variants {
  display: flex;
  gap: 16px 24px;
}
@media screen and (max-width: 639px) {
  .question_imgs .question__variants {
    gap: 20px;
    flex-direction: column;
  }
}
.question_imgs .question__variant {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  width: calc(33% - 14px);
}
.question_imgs .question__variant img {
  width: 100%;
  border-radius: 6px;
}
@media screen and (max-width: 639px) {
  .question_imgs .question__variant {
    width: 100%;
  }
}
.question_imgs .question__bottom {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  padding: 0 0 26px 28px;
}
@media screen and (max-width: 959px) {
  .question_imgs .question__bottom {
    gap: 10px;
    padding: 0 0 10px 10px;
  }
}