@font-face {
	font-family: "CoFo Sans";
	src: url("./CoFoSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 110px;
	width: 100%;
	margin: 0;
}

.link {
	background: #000af2;
	position: relative;
	height: 100%;
	text-decoration: none;
	color: #fff;
	font-family: CoFo Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.87px;
	display: flex;
    overflow: hidden;
}

.lines {
	position: absolute;

	@media screen and (max-width: 2999px) {
		display: none;
	}
}

.circle {
	position: absolute;
	top: -75px;
	left: 297px;
	z-index: 1;

	@media screen and (max-width: 2999px) {
		right: unset;
		left: -141px;
	}
}

.duck {
	position: absolute;
	top: -73px;
	left: 439px;
	z-index: 2;

	@media screen and (max-width: 2999px) {
		right: unset;
		left: 212px;
	}
}

.center {
    margin: 13px auto auto auto;
    z-index: 10;
    top: 13px;
    right: 1365px;
}

.figma {
	position: absolute;
	top: -159px;
	right: 637px;
	z-index: 4;

	@media screen and (max-width: 2999px) {
		top: -97px;
		right: 306px;
		width: 374px;
	}
}

.circle-two {
	position: absolute;
	top: -590px;
	right: -54px;
	z-index: 6;

	@media screen and (max-width: 2999px) {
		top: -382px;
		right: -151px;
		width: 567px;
	}
}

.poster {
	position: absolute;
	top: -147px;
	right: 57px;
	z-index: 5;
	mix-blend-mode: difference;

	@media screen and (max-width: 2999px) {
		top: -88px;
		right: -77px;
		width: 350px;
	}
}

.title {
	font-size: 32px;
	margin-bottom: 15px;
}

.texts {
	display: flex;
	gap: 44px;
}

.list-item {
	display: flex;
	gap: 7px;
	position: relative;

	p {
		font-size: 16px;
		max-width: 197px;
		position: relative;
		z-index: 2;
	}

	span {
		color: #000af2;
	}
}

.promo-bg {
	position: absolute;
    background: #B5E916;
    height: 16px;
    width: 146px;
    z-index: 1;
    top: 14px;
    left: 16px;
}

.button {
	background: #fff;
	color: #000af2;
	border: none;
	outline: none;
	padding: 10px 19px;
	cursor: pointer;
	transition: .3s;

	&:hover {
		background: #000;
		color: #fff;
		transition: .3s;
	}
}