@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/heliosext.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/HeliosExtC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/PPNeueMachina-InktrapRegular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
#allrecords a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "heliosexBOLD-neuemachina", Arial, sans-serif;
  box-sizing: border-box;
}

.inner-wrapper {
  width: calc(100% - 80px);
  margin: 0 40px;
  position: relative;
}

.h2-title {
  color: #181818;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  margin-bottom: 80px;
}
@media screen and (max-width: 1199px) {
  .h2-title {
    font-size: 55px;
  }
}
@media screen and (max-width: 959px) {
  .h2-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 639px) {
  .h2-title {
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .h2-title {
    font-size: 30px;
    line-height: 28px;
  }
}

.courses {
  background: #e9e9e9;
  min-height: 100vh;
}

.courses__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 40px;
  padding-top: 40px;
}

.card {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  min-height: 200px;
  transition: box-shadow 0.3s;
  border-radius: 20px;
  background: #e9e9e9;
  box-shadow: 10px 10px 10px #d2d2d2, -10px -10px 10px #ffffff;
}
@media screen and (max-width: 959px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 479px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}
.card_generator {
  display: flex;
  width: 100%;
  margin-right: 0;
  grid-column-start: 1;
  grid-column-end: 5;
}
.card a {
  color: #181818;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transition: box-shadow 0.3s;
  box-shadow: inset 10px 10px 10px #d2d2d2, inset -10px -10px 10px #ffffff;
  cursor: pointer;
}
.card__title {
  text-align: center;
}