@import "../../../../fonts/SF/fonts.scss";

#allrecords {
	ul {
		padding-left: 0;
	}
	a {
		color: inherit;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: "heliosexBOLD-neuemachina", Arial, sans-serif;
	box-sizing: border-box;
}

.inner-wrapper {
	width: 1160px;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: 1199px) {
		max-width: 940px;
	}
	@media screen and (max-width: 959px) {
		max-width: 620px;
	}
	@media screen and (max-width: 639px) {
		max-width: 460px;
	}
	@media screen and (max-width: 479px) {
		max-width: 300px;
	}
}

.h2-title {
	color: #181818;
	font-size: 64px;
	line-height: 90%;
	font-weight: 800;
	max-width: 770px;
	margin-bottom: 27px;

	@media screen and (max-width: 1199px) {
		font-size: 55px;
	}

	@media screen and (max-width: 959px) {
		font-size: 50px;
	}

	@media screen and (max-width: 639px) {
		font-size: 40px;
		line-height: 36px;
	}

	@media screen and (max-width: 479px) {
		font-size: 30px;
		line-height: 28px;
		margin-bottom: 24px;
	}
}

.bts-2024 {
	margin-bottom: 60px;
	background: #5c5c5c;
	overflow: hidden;

	&__header {
		display: flex;
		justify-content: space-between;
		height: 100px;
		align-items: center;
		margin-bottom: 46px;
		z-index: 10;

		@media screen and (max-width: 639px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 479px) {
			margin-bottom: 24px;
			height: 80px;
		}
	}

	&__logo-wrapper {
		img {
			max-width: 188px;
		}
	}

	&__nav {
		display: flex;
		list-style: none;
		padding-left: 0 !important;
		gap: 30px;
		align-items: center;

		@media screen and (max-width: 1199px) {
			display: none;
		}
	}

	&__nav-item {
		text-decoration: none !important;
		text-transform: uppercase;
		color: #fff !important;
		font-size: 14px;
		font-weight: 400;
		transition: 0.2s;

		&:hover {
			transition: 0.2s;
			opacity: 0.7;
		}
	}

	&__burger {
		display: none;
		border: none;
		background: none;
		outline: none;
		position: relative;
		color: transparent !important;

		.bts-2024__burger-line {
			width: 17px;
			height: 2px;
			background: #fff;
			transition: 0.2s;
		}

		@media screen and (max-width: 1199px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;
		}

		&_clicked {
			.main__burger-line:first-of-type {
				transform: rotate(45deg) translate3d(5px, 5px, 0px);
				transition: 0.2s;
			}
			.main__burger-line:nth-of-type(2) {
				opacity: 0;
				transition: 0.2s;
			}
			.main__burger-line:last-of-type {
				transform: rotate(-45deg) translate3d(5px, -5px, 0px);
				transition: 0.2s;
			}
		}
	}

	&__background {
		padding: 0;
		border-radius: 8px;
		position: relative;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 959px) {
			overflow: visible;
		}

		@media screen and (max-width: 639px) {
			padding: 0;
		}
	}

	.h2-title {
		margin-bottom: 30px;
		max-width: 700px;
		font-size: 66px;
		color: #b5e916;
		line-height: 90%;
		letter-spacing: -1.8px;

		@media screen and (max-width: 959px) {
			font-size: 58px;
		}

		@media screen and (max-width: 639px) {
			margin-bottom: 20px;
			max-width: unset;
			width: calc(100% + 20px);
			font-size: 39px;
			line-height: 90%;
		}
		@media screen and (max-width: 369px) {
			font-size: 34px;
		}
	}

	&__description {
		font-size: 24px;
		max-width: 310px;
		margin-bottom: 70px;
		color: #fff;

		span {
			background: #b5e916;
			padding-inline: 4px;
			color: #5c5c5c;
			border-radius: 2px;
		}

		@media screen and (max-width: 639px) {
			font-size: 14px;
			margin-bottom: 40px;
		}
	}

	&__button {
		margin-bottom: 50px;
		color: #000 !important;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 135%;
		text-decoration: none;
		background: #ffffff;
		border-radius: 4px;
		padding: 17px 0px 16px 0px;
		transition: 0.3s;
		max-width: 326px;
		max-height: 54px;

		&:hover {
			background: #000;
			transition: 0.3s;
			color: #fff !important;
		}

		@media screen and (max-width: 959px) {
			margin-bottom: 487px;
		}

		@media screen and (max-width: 639px) {
			max-width: unset;
			margin-bottom: 290px;
		}

		@media screen and (max-width: 479px) {
			margin-bottom: 300px;
			padding: 16px 0;
		}
	}

	&__image {
		position: absolute;
		pointer-events: none;
		bottom: -4px;
		right: 0;
		z-index: 2;

		@media screen and (max-width: 1199px) {
			right: -130px;
			width: 420px;
			bottom: 0;
		}

		@media screen and (max-width: 959px) {
			right: unset;
		}

		@media screen and (max-width: 639px) {
			width: 250px;
		}

		@media screen and (max-width: 479px) {
			width: 262px;
		}
	}
}
