@charset "UTF-8";
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/heliosext.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/HeliosExtC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/PPNeueMachina-InktrapRegular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("https://static.tildacdn.com/tild3965-3764-4731-a634-636639303036/CoFoSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("https://static.tildacdn.com/tild3934-3534-4238-b733-363661636632/CoFoSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("https://static.tildacdn.com/tild6631-6237-4138-b738-353333613266/CoFoSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Black.woff");
  font-weight: 900;
  font-style: normal;
}
.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: 300px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .autoPayments .inner-wrapper {
    max-width: 320px;
  }
}
.autoPayments__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 959px) {
  .autoPayments__wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments__wrapper {
    gap: 20px;
    margin-bottom: 20px;
  }
}
.autoPayments__switch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.autoPayments__price {
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 959px) {
  .autoPayments__price {
    padding: 40px 20px 20px 20px;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments__price {
    padding: 20px 14px 20px 14px;
  }
}
.autoPayments .h2-title {
  margin-bottom: 40px;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 0.8;
  color: #161616;
  text-transform: lowercase;
}
@media screen and (max-width: 1199px) {
  .autoPayments .h2-title {
    width: 70%;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments .h2-title {
    font-size: 24px;
    margin-bottom: 30px;
    width: 40%;
  }
}
.autoPayments__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid #f0f0f0;
  background: #f0f0f0;
  gap: 10px;
}
.autoPayments__tab {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #161616;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  padding: 14px 0;
  transition: 0.3s;
  cursor: pointer;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__tab {
    font-size: 14px;
    padding: 12px 0;
  }
}
.autoPayments__tab:hover {
  background: #fff;
  transition: 0.3s;
}
.autoPayments__tab_active {
  background: #fff;
  transition: 0.3s;
}
.autoPayments__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  gap: 30px;
  min-height: 204px;
  justify-content: flex-end;
}
@media screen and (max-width: 639px) {
  .autoPayments__card {
    min-height: 170px;
    gap: 40px;
  }
}
.autoPayments__card_active {
  position: relative;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.autoPayments__card_cjm-2 {
  gap: 94px;
  min-height: 268px;
}
.autoPayments__content {
  position: relative;
  overflow: hidden;
}
.autoPayments__old-price {
  color: #939393;
  font-size: 22px;
  font-weight: 400;
  font-family: "CoFo Sans", Arial, sans-serif;
  line-height: 1;
  text-decoration: line-through;
  margin-bottom: 10px;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__old-price {
    font-size: 18px;
    margin-bottom: 14px;
  }
}
.autoPayments__new-price {
  color: #161616;
  font-size: 60px;
  font-weight: 500;
  font-family: "CoFo Sans", Arial, sans-serif;
  line-height: 1;
  margin-bottom: 4px;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__new-price {
    font-size: 42px;
    margin-bottom: 4px;
  }
}
.autoPayments__new-price:last-of-type {
  margin-bottom: 0;
}
.autoPayments__disclamer {
  font-family: "CoFo Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #939393;
  line-height: 1;
  text-transform: lowercase;
}
.autoPayments__sale-corner {
  display: flex;
  gap: 6px;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  background: #e0fb52;
  padding: 18px 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__sale-corner {
    gap: 4px;
    padding: 14px 10px;
  }
}
.autoPayments__sale-corner span {
  width: -moz-fit-content;
  width: fit-content;
  color: #161616;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__sale-corner span {
    font-size: 18px;
  }
}
.autoPayments__sale-corner .discount_until {
  opacity: 0.5;
  font-size: 16px;
}
@media screen and (max-width: 639px) {
  .autoPayments__sale-corner .discount_until {
    font-size: 14px;
  }
}
.autoPayments__sale-corner_active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: 0.3s;
}
.autoPayments__sale p {
  width: 280px;
  border-radius: 6px;
  color: #939393;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin-top: 30px;
  text-transform: lowercase;
  line-height: 1;
}
@media screen and (max-width: 639px) {
  .autoPayments__sale p {
    font-size: 18px;
    margin-top: 20px;
  }
}
.autoPayments__disclamer_form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (max-width: 639px) {
  .autoPayments__disclamer_form {
    font-size: 14px;
  }
}
.autoPayments__form-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.autoPayments__form-wrapper_active {
  position: relative;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.autoPayments__form-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid #f0f0f0;
  background: #f0f0f0;
  gap: 10px;
}
@media screen and (max-width: 959px) {
  .autoPayments__form-tabs {
    gap: 10px;
  }
}
.autoPayments__form-tab {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #161616;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  padding: 14px 0;
  transition: 0.3s;
  cursor: pointer;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__form-tab {
    font-size: 14px;
    padding: 12px 0;
  }
}
.autoPayments__form-tab:hover {
  background: #fff;
  transition: 0.3s;
}
.autoPayments__form-tab_active {
  background: #fff;
  transition: 0.3s;
}
.autoPayments__form {
  background: #fff;
  padding: 34px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 639px) {
  .autoPayments__form {
    padding: 20px 14px;
  }
}
.autoPayments__form .h2-title {
  color: #161616;
  text-transform: lowercase;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}
.autoPayments__form .h2-title_cjm-2 {
  margin-bottom: 0;
}
@media screen and (max-width: 639px) {
  .autoPayments__form .h2-title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    width: 70%;
  }
}
.autoPayments__form-heading {
  margin-bottom: 36px;
}
.autoPayments__form-heading_cjm-1 {
  margin-bottom: auto;
}
@media screen and (max-width: 639px) {
  .autoPayments__form-heading {
    margin-bottom: 40px;
  }
}
.autoPayments__form-heading_cjm-2 {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 250px auto;
  gap: 58px;
}
@media screen and (max-width: 1199px) {
  .autoPayments__form-heading_cjm-2 {
    gap: 0;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments__form-heading_cjm-2 {
    margin-top: 20px;
  }
}
.autoPayments__form .t-form {
  margin-bottom: 12px;
}
.autoPayments__form .t-input {
  width: 100% !important;
  padding: 24px 0 !important;
  font-size: 20px !important;
  font-family: "CoFo Sans", Arial, sans-serif !important;
  font-weight: 400 !important;
  outline: none !important;
  color: #161616 !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #161616 !important;
  text-transform: lowercase;
}
.autoPayments__form .t-input::-webkit-input-placeholder {
  color: #161616 !important;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__form .t-input {
    padding: 22px 0 !important;
    font-size: 16px !important;
  }
}
.autoPayments__form .t-checkbox__control {
  display: flex;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #161616;
  align-items: center;
}
.autoPayments__form .t-checkbox__indicator {
  border: 1px solid #161616 !important;
  width: 18px !important;
  height: 18px !important;
}
.autoPayments__form .t-checkbox {
  border-radius: 0 !important;
  margin-right: 10px;
}
.autoPayments__form .t-submit {
  width: 100% !important;
  padding: 24px !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  background-color: #e0fb52 !important;
  margin-top: 30px !important;
  color: #161616 !important;
  height: unset !important;
  border-radius: 0 !important;
  text-transform: lowercase !important;
}
.autoPayments__form .t-submit:hover {
  transition: 0.3s !important;
  color: #fff !important;
  background: #161616 !important;
}
@media screen and (max-width: 639px) {
  .autoPayments__form .t-submit {
    font-size: 16px !important;
  }
}
.autoPayments__form .t-input-group {
  margin-bottom: 10px;
}
.autoPayments__form #form-consult .t-submit {
  background-color: #161616 !important;
  color: #fff !important;
}
.autoPayments__afterForm {
  color: #939393;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__afterForm {
    font-size: 10px;
  }
}
.autoPayments__afterForm a {
  text-decoration: underline !important;
  color: #939393 !important;
}
.autoPayments__bottom {
  background: #fff;
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .autoPayments__bottom {
    gap: 40px;
    flex-direction: column;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments__bottom {
    padding: 14px;
  }
}
.autoPayments__text {
  color: #161616;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 26px;
  max-width: 540px;
  line-height: 1;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__text {
    font-size: 18px;
  }
}
.autoPayments__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-block: 14px;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #161616 !important;
  border: 1px solid #161616;
  text-decoration: none !important;
  transition: 0.3s;
  text-transform: lowercase;
}
.autoPayments__link:hover {
  transition: 0.3s;
  color: #fff !important;
  background: #161616;
}
@media screen and (max-width: 959px) {
  .autoPayments__link {
    width: 100%;
  }
}
@media screen and (max-width: 639px) {
  .autoPayments__link {
    font-size: 16px;
  }
}
.autoPayments__list {
  list-style: none;
  padding-left: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1;
}
@media screen and (max-width: 639px) {
  .autoPayments__list {
    gap: 6px;
  }
}
.autoPayments__list-item {
  font-family: "CoFo Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .autoPayments__list-item {
    font-size: 14px;
  }
}
.autoPayments__list-item::before {
  content: "—";
}

.line {
  height: 2px;
  width: calc(100% + 60px);
  background: #f4f4f4;
  position: relative;
  left: -30px;
  margin: 30px 0;
}
@media screen and (max-width: 639px) {
  .line {
    margin: 20px 0;
  }
}