.courses {
	background: #f4f4f4;
	padding: 90px 0;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 639px) {
		padding: 60px 0;
	}

	&__head {
		display: grid;
		gap: 240px;
		align-items: center;
		grid-template-columns: 360px auto;
		max-width: 1082px;
		margin-bottom: 60px;

		@media screen and (max-width: 1199px) {
			gap: 130px;
		}

		@media screen and (max-width: 959px) {
			grid-template-columns: 1fr;
			gap: 20px;
		}

		.h2-title {
			margin-bottom: 0;
			max-width: 360px;
		}
	}

	&__description {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		color: #939393;

		@media screen and (max-width: 639px) {
			font-size: 16px;
		}
	}
}
