.outer-wrapper {
  background: #e3e7e8 !important;
}

.main {
  position: relative;
}
.main .title {
  font-size: 70px;
  line-height: 0.85;
  margin-bottom: 40px;
}
@media screen and (max-width: 959px) {
  .main .title {
    font-size: 56px;
  }
}
@media screen and (max-width: 639px) {
  .main .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.main .title span {
  color: #ff6945;
}
.main .columns {
  grid-template-columns: 1fr;
  padding-bottom: 126px;
}
@media screen and (max-width: 639px) {
  .main .columns {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 959px) {
  .main .column {
    display: flex;
    flex-direction: column;
  }
}
.main .main__img {
  position: absolute !important;
  width: 100%;
  max-width: unset !important;
  height: 100% !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  top: 10px;
  left: 534px;
}
@media screen and (max-width: 1199px) {
  .main .main__img {
    top: -30px;
    left: 534px;
  }
}
@media screen and (max-width: 959px) {
  .main .main__img {
    top: -30px;
    left: -36px;
  }
}
@media screen and (max-width: 639px) {
  .main .main__img {
    top: -20px;
    left: -36px;
  }
}
@media screen and (max-width: 479px) {
  .main .main__img {
    top: 40px;
    left: 14px;
    width: 140%;
  }
}
.main .main__sticker {
  position: absolute;
  top: 222px;
  left: 764px;
  width: 40%;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
@media screen and (max-width: 1199px) {
  .main .main__sticker {
    top: 302px;
    left: 644px;
  }
}
@media screen and (max-width: 959px) {
  .main .main__sticker {
    top: 494px;
    left: -4px !important;
    width: 50%;
  }
}
@media screen and (max-width: 639px) {
  .main .main__sticker {
    top: 384px;
    left: 32px;
    width: 60%;
  }
}
@media screen and (max-width: 479px) {
  .main .main__sticker {
    top: 392px;
    left: 123px;
    width: 80%;
  }
}
.main .list {
  max-width: 540px;
}
@media screen and (max-width: 959px) {
  .main .list {
    margin-bottom: 510px;
  }
}
@media screen and (max-width: 639px) {
  .main .list {
    margin-bottom: 380px;
  }
}
@media screen and (max-width: 479px) {
  .main .list {
    margin-bottom: 330px;
  }
}
.main .list-item {
  font-size: 25px;
  line-height: 1.2;
}
@media screen and (max-width: 639px) {
  .main .list-item {
    font-size: 16px;
  }
}
.main .directions {
  max-width: 600px;
}
.main .directions__title {
  font-size: 20px;
}
@media screen and (max-width: 639px) {
  .main .directions__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.main .directions__list-link {
  color: #181818 !important;
}
.main .directions__list-link:hover {
  background: #f4f4f4;
}
.main .directions__list-link_green {
  background: #f4f4f4;
  color: #181818 !important;
}
.main .directions__list-link_green:hover {
  background: #b5e916 !important;
}
.main__bottom-border {
  background-image: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/bf-2024/bottom-border.svg) !important;
}/*# sourceMappingURL=bf-2024.css.map */