.outer-wrapper {
  background: #e3e7e8 !important;
}

.main {
  position: relative;

  .title {
    font-size: 70px;
    line-height: 0.85;
    margin-bottom: 40px;

    @media screen and (max-width: 959px) {
      font-size: 56px;
    }

    @media screen and (max-width: 639px) {
      font-size: 40px;
      margin-bottom: 20px;
    }

    span {
      color: #ff6945;
    }
  }

  .columns {
    grid-template-columns: 1fr;
    padding-bottom: 126px;

    @media screen and (max-width: 639px) {
      padding-bottom: 36px;
    }
  }

  .column {
    @media screen and (max-width: 959px) {
      display: flex;
      flex-direction: column;
    }
  }

  .main__img {
    position: absolute !important;
    width: 100%;
    max-width: unset !important;
    height: 100% !important;
    object-fit: contain !important;
    top: 10px;
    left: 534px;

    @media screen and (max-width: 1199px) {
      top: -30px;
      left: 534px;
    }

    @media screen and (max-width: 959px) {
      top: -30px;
      left: -36px;
    }

    @media screen and (max-width: 639px) {
      top: -20px;
      left: -36px;
    }
    @media screen and (max-width: 479px) {
      top: 40px;
      left: 14px;
      width: 140%;
    }
  }

  .main__sticker {
    position: absolute;
    top: 222px;
    left: 764px;
    width: 40%;
    object-fit: contain !important;

    @media screen and (max-width: 1199px) {
      top: 302px;
      left: 644px;
    }

    @media screen and (max-width: 959px) {
      top: 494px;
      left: -4px !important;
      width: 50%;
    }

    @media screen and (max-width: 639px) {
      top: 384px;
      left: 32px;
      width: 60%;
    }

    @media screen and (max-width: 479px) {
      top: 392px;
      left: 123px;
      width: 80%;
    }
  }

  .list {
    max-width: 540px;

    @media screen and (max-width: 959px) {
      margin-bottom: 510px;
    }
    @media screen and (max-width: 639px) {
      margin-bottom: 380px;
    }

    @media screen and (max-width: 479px) {
      margin-bottom: 330px;
    }

    &-item {
      font-size: 25px;
      line-height: 1.2;

      @media screen and (max-width: 639px) {
        font-size: 16px;
      }
    }
  }

  .directions {
    max-width: 600px;
  }

  .directions__title {
    font-size: 20px;

    @media screen and (max-width: 639px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .directions__list-link {
    color: #181818 !important;

    &:hover {
      background: #f4f4f4;
    }
  }

  .directions__list-link_green {
    background: #f4f4f4;
    color: #181818 !important;

    &:hover {
      background: #b5e916 !important;
    }
  }

  &__bottom-border {
    background-image: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/bf-2024/bottom-border.svg) !important;
  }
}
