.answer {
	border-radius: 6px;
	background: #fff;
	border: 1px solid #cccccc;
	padding: 16px 30px;
	transition: 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 30px;

	&:hover {
		transition: 0.3s;
		background: #b5e916;

		@media screen and (max-width: $hor-tablet) {
			-webkit-tap-highlight-color: rgba(181, 233, 22, 0.3);
			background: #fff;
		}

		@media screen and (min-width: 1200px) {
			.answer__bullit {
				transition: 0.3s;
				border: 1px solid #ffffff;
			}
		}
	}

	@media screen and (max-width: $hor-mobile) {
		gap: 20px;
		padding: 22px 22px 22px 15px;
	}
}

@import "./__bullit/answer__bullit.scss";
@import "./__text/answer__text.scss";
@import "./_image/answer_image.scss";