.bonuses__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    padding: 30px 20px;
    background: #DDE6E7;
    border-radius: 6px;

    @media screen and (max-width: $hor-mobile) {
        padding: 20px 15px;
        gap: 15px;
    }
}