.program {
  background: #f2f2f4;
  padding: 90px 0;
  overflow: hidden;

  @media screen and (max-width: 639px) {
    padding: 60px 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 370px 560px;
    justify-content: space-between;
    margin-bottom: 60px;

    @media screen and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 959px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @media screen and (max-width: 639px) {
      gap: 10px;
      margin-bottom: 20px;
    }

    &-col {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 639px) {
        gap: 60px;
      }
    }
  }

  &__lead {
    font-family: NT Somic;
    font-size: 24px;
    color: #181818;
    font-weight: 400;
    line-height: 1.2;

    @media screen and (max-width: 639px) {
      font-size: 15px;
    }
  }

  .accordeon {
    &__header-content {
      display: grid;
      grid-template-columns: 540px 490px;
      gap: 40px;
      align-items: start;

      @media screen and (max-width: 1199px) {
        grid-template-columns: 430px 1fr;
      }

      @media screen and (max-width: 959px) {
        grid-template-columns: 1fr;
        gap: 14px;
      }
    }

    &__item_bonus {
      background: #043933 !important;
      border-radius: 6px;

      .accordeon__header {
        cursor: auto !important;
      }

      .accordeon__body {
        padding: 0 10px;
      }

      .accordeon__separator {
        div {
          height: 0;
        }
      }

      .accordeon__body-columns {
        grid-template-columns: 1fr;
      }

      .accordeon__list-lead {
        color: #899d9b;
        padding: 10px 0 20px 0;
      }
    }
  }

  &__tabs {
    display: flex;

    &-mobile {
      position: relative;
      width: 100%;
      display: none;
      flex-direction: column;
      cursor: pointer;

      @media screen and (max-width: 639px) {
        display: flex;
      }
    }

    &-options {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      display: flex;
      width: 100%;
      top: calc(100% + 4px);
      flex-direction: column;
      border-radius: 6px;

      &_visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      padding: 12px;

	  span {
		font-size: 12px;
	  }

      svg {
        transition: 0.2s;
      }

      &_opened {
        svg {
          transform: rotate(180deg);
          transition: 0.2s;
        }
      }
    }
  }

  &__tab-lead {
    background: #fff;
    padding: 50px 20px 0 20px;

    .accordeon__body-col {
      justify-content: space-between;
    }

    .accordeon__text {
      margin-bottom: 8px;
    }

    @media screen and (max-width: 639px) {
      background: #f2f2f4;
	  padding: 50px 0 0 0;
    }
  }

  &__tab {
    background: #f2f2f4;
    border: 1px solid #fff;
    border-radius: 6px 6px 0 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 28px 0;
    font-size: 24px;
    font-weight: 800;
    font-family: "heliosexBOLD-neuemachina";
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 639px) {
      display: none;
    }

    &_active {
      background: #fff;
      transition: background 0.2s ease-in-out;
    }

    &_mobile {
      display: none;
      width: 100%;
      padding: 12px;
      font-size: 12px;
      background: #fff;
      border-radius: 0;
	  justify-content: flex-start;
	  text-transform: none;
	  font-weight: 800;

      @media screen and (max-width: 639px) {
        display: flex;
      }
    }
  }
}
