.bonuses__title {
    font-family: "heliosexBOLD-neuemachina";
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	line-height: 1.1;

    @media screen and (max-width: $hor-mobile) {
        font-size: 16px;
    }
}