@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Black.woff");
  font-weight: 900;
  font-style: normal;
}
#allrecords ul {
  padding-left: 0;
}
#allrecords a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "CoFo Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: 300px;
  }
}

.h2-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 0.9;
  margin-bottom: 60px;
  color: #161616;
  text-transform: lowercase;
}
@media screen and (max-width: 639px) {
  .h2-title {
    font-size: 30px;
  }
}

.courses {
  background: #f4f4f4;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 639px) {
  .courses {
    padding: 60px 0;
  }
}
.courses__head {
  display: grid;
  gap: 240px;
  align-items: center;
  grid-template-columns: 360px auto;
  max-width: 1082px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .courses__head {
    gap: 130px;
  }
}
@media screen and (max-width: 959px) {
  .courses__head {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.courses__head .h2-title {
  margin-bottom: 0;
  max-width: 360px;
}
.courses__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #939393;
}
@media screen and (max-width: 639px) {
  .courses__description {
    font-size: 16px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  list-style: none;
  pointer-events: auto;
  overflow: hidden;
  transition: 1s;
}
@media screen and (max-width: 1199px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 959px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #161616;
  margin-bottom: 40px;
  padding: 10px;
  overflow: hidden;
  z-index: 3;
}
@media screen and (max-width: 959px) {
  .card {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 639px) {
  .card {
    margin-bottom: 10px;
  }
}
.card__top {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 2;
  margin-bottom: 44px;
}
@media screen and (max-width: 639px) {
  .card__top {
    flex-direction: column;
  }
}
.card__center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
  width: 73%;
}
.card__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 4;
  margin-top: auto;
}
.card .sticker {
  background: #e0fb52;
  color: #161616;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.card .sticker_dark {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.card__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 0.9;
  color: #ffffff;
}
.card__title span {
  color: #e0fb52;
}
@media screen and (max-width: 479px) {
  .card__title {
    font-size: 22px;
  }
}
.card__description {
  font-size: 16px;
  line-height: 1.06;
  font-weight: 400;
  color: #939393;
}
.card__image {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-position: top right !important;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
.card#GRAPHPRO .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHPRO.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GRAPHPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHPRO-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GRAPHPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHPRO-2.png) no-repeat;
  }
}
.card#UXUIPRO .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUIPRO.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#UXUIPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUIPRO-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#UXUIPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUIPRO-2.png) no-repeat;
  }
}
.card#MOTIONPRO .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTIONPRO.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#MOTIONPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTIONPRO-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#MOTIONPRO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTIONPRO-2.png) no-repeat;
  }
}
.card#COM-DESIGNER .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMDES.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#COM-DESIGNER .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMDES-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#COM-DESIGNER .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMDES-2.png) no-repeat;
  }
}
.card#THREEDART .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/3DART.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#THREEDART .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/3DART-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#THREEDART .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/3DART-2.png) no-repeat;
  }
}
.card#STARTDESIGN .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/STARTDESIGN.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#STARTDESIGN .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/STARTDESIGN-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#STARTDESIGN .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/STARTDESIGN-2.png) no-repeat;
  }
}
.card#GAMEDES .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEDES.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GAMEDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEDES-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GAMEDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEDES-2.png) no-repeat;
  }
}
.card#WEBDES .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDES.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#WEBDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDES-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#WEBDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDES-2.png) no-repeat;
  }
}
.card#NEURODES .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/NEURODES.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#NEURODES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/NEURODES-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#NEURODES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/NEURODES-2.png) no-repeat;
  }
}
.card#COMILLUST .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMILLUST.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#COMILLUST .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMILLUST-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#COMILLUST .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/COMILLUST-2.png) no-repeat;
  }
}
.card#VIDEOREJ .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/VIDEOREJ.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#VIDEOREJ .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/VIDEOREJ-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#VIDEOREJ .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/VIDEOREJ-2.png) no-repeat;
  }
}
.card#UIDES .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UIDES.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#UIDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UIDES-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#UIDES .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UIDES-2.png) no-repeat;
  }
}
.card#GRAPHINTENDE .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENDE.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GRAPHINTENDE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENDE-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GRAPHINTENDE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENDE-2.png) no-repeat;
  }
}
.card#GRAPHINTENSE .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENSE.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GRAPHINTENSE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENSE-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GRAPHINTENSE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPHINTENSE-2.png) no-repeat;
  }
}
.card#MEDIADIS .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MEDIADIS.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#MEDIADIS .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MEDIADIS-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#MEDIADIS .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MEDIADIS-2.png) no-repeat;
  }
}
.card#GRAPH .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPH.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GRAPH .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPH-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GRAPH .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GRAPH-2.png) no-repeat;
  }
}
.card#UXUI .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUI.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#UXUI .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUI-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#UXUI .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/UXUI-2.png) no-repeat;
  }
}
.card#MOTION .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTION.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#MOTION .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTION-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#MOTION .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/MOTION-2.png) no-repeat;
  }
}
.card#INT-DESIGNER .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/INT-DESIGNER.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#INT-DESIGNER .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/INT-DESIGNER-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#INT-DESIGNER .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/INT-DESIGNER-2.png) no-repeat;
  }
}
.card#PHOTO .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/PHOTO.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#PHOTO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/PHOTO-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#PHOTO .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/PHOTO-2.png) no-repeat;
  }
}
.card#DESSYS .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/DESSYS.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#DESSYS .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/DESSYS-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#DESSYS .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/DESSYS-2.png) no-repeat;
  }
}
.card#WEBDESPROF .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDESPROF.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#WEBDESPROF .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDESPROF-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#WEBDESPROF .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/WEBDESPROF-2.png) no-repeat;
  }
}
.card#GAMEMANAGE .card__image {
  background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEMANAGE.png) no-repeat;
}
@media screen and (max-width: 959px) {
  .card#GAMEMANAGE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEMANAGE-1.png) no-repeat;
  }
}
@media screen and (max-width: 639px) {
  .card#GAMEMANAGE .card__image {
    background: url(https://storage.yandexcloud.net/sf-wallaper-bucket/images/CD-courses/GAMEMANAGE-2.png) no-repeat;
  }
}
.card__price-wrapper {
  display: flex;
  flex-direction: column;
}
.card__price {
  font-size: 28px;
  font-weight: 400;
  line-height: 0.9;
  color: #ffffff;
}
.card__installment {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.card__buttons {
  display: grid;
  grid-template-columns: 190px 140px;
  gap: 10px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 1199px) {
  .card__buttons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 639px) {
  .card__buttons {
    grid-template-columns: 1.2fr 1fr;
  }
}
.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0fb52;
  color: #161616 !important;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border: none;
  cursor: pointer;
  max-width: 100%;
  transition: 0.3s;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .card__button:hover {
    background: #ffffff !important;
    transition: 0.3s;
  }
}
.card__button_dark {
  background: transparent;
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .card__button_dark:hover {
    color: #161616 !important;
    transition: 0.3s;
  }
}
.card_light {
  background: #ffffff;
  z-index: 2;
}
.card_light .card__title,
.card_light .card__description,
.card_light .card__price {
  color: #161616;
}
.card_light .card__title span {
  color: #939393;
}
.card_light .sticker_dark,
.card_light .card__button_dark {
  color: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 1200px) {
  .card_light .card__button:hover {
    background: #161616 !important;
    color: #ffffff !important;
    transition: 0.3s;
  }
}
.card_hidden {
  margin-bottom: 0;
  display: none;
}

.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 70px;
  color: #161616;
  border: 1px solid #161616;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 1199px) {
  .button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 639px) {
  .button {
    margin-top: 30px;
    width: 100%;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .button:hover {
    background: #161616;
    color: #ffffff;
    transition: 0.3s;
  }
}/*# sourceMappingURL=index.css.map */