.reviews-mixed {
  overflow: hidden;
  margin-bottom: 110px;
  position: relative;
  @media screen and (max-width: 479px) {
    margin-bottom: 75px;
  }

  &__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 60px;

		@media screen and (max-width: 639px) {
			flex-direction: column;
			margin-bottom: 20px;
			align-items: flex-start;
			gap: 40px;
			justify-content: normal;
		}
	}

  &__pagination {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 639px) {
      gap: 4px;
    }
  }

  &__pagination-button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;

    svg {
      width: 50px;
      height: 50px;

      @media screen and (max-width: 639px) {
        width: 40px;
        height: 40px;
      }

      rect {
        fill: #b5e916;
        transition: 0.3s;
      }
      path {
        fill: #181818;
        transition: 0.3s;
      }
    }

    @media screen and (min-width: 1200px) {
      &:hover {
        svg {
          rect {
            fill: #043933;
            transition: 0.3s;
          }
          path {
            fill: #e7e7e7;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .text-slide {
    background: #f2f2f4;
    padding: 20px;
    border-radius: 6px;
    height: auto;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
      width: 940px;
    }

    @media screen and (max-width: 959px) {
      width: 620px;
    }

    @media screen and (max-width: 639px) {
      width: 460px;
    }

    @media screen and (max-width: 479px) {
      width: 300px;
    }

    &__text {
      font-family: "NT Somic";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      color: rgba(24, 24, 24, 0.5);

      @media screen and (max-width: 639px) {
        font-size: 14px;
      }
    }

    &__avatar {
      width: 50px;
      object-fit: contain;
      border-radius: 30px;

      @media screen and (max-width: 639px) {
        width: 40px;
      }
    }

    &__name {
      font-weight: 800;
      font-size: 16px;
      font-family: "heliosexBOLD-neuemachina";
      text-transform: uppercase;

      @media screen and (max-width: 639px) {
        font-size: 12px;
      }
    }

    &__bottom {
      display: flex;
      gap: 14px;
      align-items: center;

      @media screen and (max-width: 639px) {
        gap: 10px;
      }
    }
  }

  .video-slide {
    position: relative;
    border-radius: 20px;
    width: 260px;

    @media screen and (max-width: 639px) {
      width: 168px;
    }

    &__iframe-wrapper {
      position: relative;
      width: 100%;
      height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border-radius: 6px;

      @media screen and (max-width: 1199px) {
        height: 370px;
      }

      @media screen and (max-width: 639px) {
        height: 248px;
      }
    }

    &__play {
      position: absolute;
      z-index: 3;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      transition: 0.2s;

      svg {
        circle {
          fill: #fff;
        }
        path {
          fill: #043933;
        }
      }

      &:hover {
        transition: 0.2s;
        opacity: 0.7;
      }
    }

    &__play_hidden {
      opacity: 0;
      transition: 0.2s;
      visibility: hidden;
      pointer-events: none;
    }

    &__preview {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      border-radius: 6px;
      opacity: 0.4;
      transition: 0.2s;
    }

    &__preview_hidden {
      opacity: 0;
      transition: 0.2s;
    }

    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 6px;
    }

    &__name {
      color: #fff !important;
      font-size: 16px;
      position: absolute;
      text-decoration: none !important;
      font-family: "heliosexBOLD-neuemachina";
      text-transform: uppercase;
      bottom: 30px;
      left: 20px;
      z-index: 6;
      max-width: 150px;
      font-weight: 800;

      @media screen and (max-width: 639px) {
        font-size: 12px;
      }
    }
  }
}
