.reviews-mixed {
  overflow: hidden;
  margin-bottom: 110px;
  position: relative;
  @media screen and (max-width: 479px) {
    margin-bottom: 75px;
  }

  &__slider {
    padding-top: 100px;

    @media screen and (max-width: 959px) {
      padding-top: 70px;
    }
  }

  .pagination {
    &__buttons {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      display: flex;
      gap: 10px;
  
      @media screen and (max-width: 639px) {
        top: 120px;
      }
  
      @media screen and (max-width: 479px) {
        right: unset;
        left: 0;
      }
    }
  
    &__button {
      width: 40px;
      height: 40px;
      background-image: url(https://static.tildacdn.com/tild6430-6532-4461-b164-346166623365/f0ac3312-51d0-4886-8.svg);
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50px;
      background-color: #dde5e6;
      transition: 0.2s;
      cursor: pointer;
  
      &:hover {
        transition: 0.2s;
        opacity: 0.7;
        background-color: #033932;
      }
  
      @media screen and (max-width: 959px) {
        width: 30px;
        height: 30px;
      }
    }
    &__button_next {
      transform: rotate(180deg);
    }
  }

  .text-slide {
    background: #f2f2f4;
    padding: 20px;
    border-radius: 6px;
    height: auto;
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__text {
      font-family: "NT Somic";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      color: rgba(24, 24, 24, 0.5);

      @media screen and (max-width: 639px) {
        font-size: 14px;
      }
    }

    &__avatar {
      width: 50px;
      object-fit: contain;
      border-radius: 30px;

      @media screen and (max-width: 639px) {
        width: 40px;
      }
    }

    &__name {
      font-weight: 800;
      font-size: 16px;
      font-family: "heliosexBOLD-neuemachina";
      text-transform: uppercase;

      @media screen and (max-width: 639px) {
        font-size: 12px;
      }
    }

    &__bottom {
      display: flex;
      gap: 14px;
      align-items: center;

      @media screen and (max-width: 639px) {
        gap: 10px;
      }
    }
  }

  .video-slide {
    position: relative;
    border-radius: 20px;
    width: 260px;

    &__iframe-wrapper {
      position: relative;
      width: 100%;
      height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border-radius: 6px;

      @media screen and (max-width: 1199px) {
        height: 370px;
      }

      @media screen and (max-width: 639px) {
        height: 420px;
      }
    }

    &__play {
      position: absolute;
      z-index: 3;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      transition: 0.2s;

      svg {
        circle {
          fill: #fff;;
        }
        path {
          fill: #043933;
        }
      }

      &:hover {
        transition: 0.2s;
        opacity: 0.7;
      }
    }

    &__play_hidden {
      opacity: 0;
      transition: 0.2s;
      visibility: hidden;
      pointer-events: none;
    }

    &__preview {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      border-radius: 6px;
      opacity: 0.4;
      transition: 0.2s;
    }

    &__preview_hidden {
      opacity: 0;
      transition: 0.2s;
    }

    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 6px;
    }

    &__name {
      color: #fff !important;
      font-size: 16px;
      position: absolute;
      text-decoration: none !important;
      font-family: "heliosexBOLD-neuemachina";
      text-transform: uppercase;
      bottom: 30px;
      left: 20px;
      z-index: 6;
      max-width: 150px;
    }
  }
}
