@charset "UTF-8";
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/heliosext.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/HeliosExtC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "heliosexBOLD-neuemachina";
  src: url("https://tools.skillfactory.ru/PPNeueMachina-InktrapRegular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CoFo Sans";
  src: url("./CoFoSans-Black.woff");
  font-weight: 900;
  font-style: normal;
}
#allrecords ul {
  padding-left: 0;
}
#allrecords a {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: "heliosexBOLD-neuemachina", Arial, sans-serif;
  box-sizing: border-box;
}

.inner-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .inner-wrapper {
    max-width: 940px;
  }
}
@media screen and (max-width: 959px) {
  .inner-wrapper {
    max-width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .inner-wrapper {
    max-width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .inner-wrapper {
    max-width: 300px;
  }
}

.rentgen {
  margin-bottom: 100px;
}
.rentgen .h2-title {
  color: #b5e916;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 0.9;
  letter-spacing: -1.44px;
  margin-bottom: 34px;
}
@media screen and (max-width: 639px) {
  .rentgen .h2-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
.rentgen__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #000;
  overflow: hidden;
  border-radius: 8px;
  padding: 40px;
}
@media screen and (max-width: 639px) {
  .rentgen__wrapper {
    padding: 32px 20px;
  }
}
.rentgen__content {
  max-width: 558px;
  position: relative;
  z-index: 5;
}
.rentgen__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 74px !important;
  list-style: none;
}
@media screen and (max-width: 959px) {
  .rentgen__list {
    margin-bottom: 420px !important;
  }
}
@media screen and (max-width: 639px) {
  .rentgen__list {
    gap: 15px;
  }
}
@media screen and (max-width: 479px) {
  .rentgen__list {
    margin-bottom: 344px !important;
  }
}
.rentgen__list-item {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 639px) {
  .rentgen__list-item {
    font-size: 16px;
    gap: 10px;
  }
}
.rentgen__list-item::before {
  content: "→";
  color: #fff;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  position: relative;
  top: -4px;
}
@media screen and (max-width: 639px) {
  .rentgen__list-item::before {
    font-size: 20px;
    top: 0px;
  }
}
.rentgen__button {
  display: flex;
  color: #fffaed !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
  border-radius: 4px;
  background: #ff6945;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
  transition: 0.2s;
}
.rentgen__button:hover {
  transition: 0.2s;
  background: #f37a5c;
}
.rentgen__vector {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 80px;
}
@media screen and (max-width: 1199px) {
  .rentgen__vector {
    right: -110px;
  }
}
@media screen and (max-width: 959px) {
  .rentgen__vector {
    right: -30px;
    top: 350px;
  }
}
@media screen and (max-width: 639px) {
  .rentgen__vector {
    right: -100px;
    top: 220px;
  }
}
@media screen and (max-width: 479px) {
  .rentgen__vector {
    right: -158px;
    top: 408px;
    transform: rotate(180deg);
  }
}
.rentgen__person {
  position: absolute;
  top: -60px;
  right: -100px;
  width: 654px;
  pointer-events: none;
}
@media screen and (max-width: 1199px) {
  .rentgen__person {
    top: -42px;
    right: -100px;
    width: 524px;
  }
}
@media screen and (max-width: 959px) {
  .rentgen__person {
    top: 368px;
    right: 30px;
  }
}
@media screen and (max-width: 639px) {
  .rentgen__person {
    top: 240px;
    right: -40px;
    width: 510px;
  }
}
@media screen and (max-width: 479px) {
  .rentgen__person {
    top: 440px;
    right: -84px;
    width: 440px;
  }
}
.rentgen__key {
  position: absolute;
  pointer-events: none;
}
.rentgen__key_one {
  width: 90px;
  top: 70px;
  right: 20px;
  transform: rotate(84deg);
}
@media screen and (max-width: 1199px) {
  .rentgen__key_one {
    right: 0;
  }
}
@media screen and (max-width: 959px) {
  .rentgen__key_one {
    right: 60px;
    top: 450px;
  }
}
@media screen and (max-width: 639px) {
  .rentgen__key_one {
    right: 20px;
    top: 340px;
    width: 90px;
  }
}
@media screen and (max-width: 479px) {
  .rentgen__key_one {
    right: 0px;
    top: 530px;
    width: 70px;
  }
}
.rentgen__key_two {
  top: 340px;
  right: 370px;
}
@media screen and (max-width: 1199px) {
  .rentgen__key_two {
    right: 240px;
  }
}
@media screen and (max-width: 959px) {
  .rentgen__key_two {
    right: 470px;
    top: 630px;
  }
}
@media screen and (max-width: 639px) {
  .rentgen__key_two {
    right: 344px;
    top: 540px;
    width: 100px;
  }
}
@media screen and (max-width: 479px) {
  .rentgen__key_two {
    right: 214px;
    top: 728px;
    width: 80px;
  }
}