$color-white: #fff !global;
$color-bone: #e7eeee !global;
$color-coal: #181818 !global;
$color-coal-07: #181818b3 !global;
$color-deepGreen: #043933 !global;
$color-lightGreen: #dde6e7 !global;
$color-midGreen: #a2c1c4 !global;
$color-carrot: #ff6945 !global;

$font: "heliosexBOLD-neuemachina", Arial, sans-serif;
$font_machina: 800;
$font_helios: 400;
$font-cofo: "CoFo Sans", Arial, sans-serif;

$hor-tablet: 1199px;
$ver-tablet: 959px;
$hor-mobile: 639px;
$ver-mobile: 479px;
