$color-white: #fff !global;
$color-coal: #181818 !global;
$color-deepGreen: #043933 !global;
$color-lightGreen: #dde6e7 !global;
$color-carrot: #FF6945 !global;



$font: "heliosexBOLD-neuemachina", Arial, sans-serif;
$font_machina: 800;
$font_helios: 400;



$hor-tablet: 1199px;
$ver-tablet: 959px;
$hor-mobile: 639px;
$ver-mobile: 479px;