$color-white: #fff;
$color-bone: #e7eeee;
$color-coal: #181818;
$color-coal-07: #181818b3;
$color-deepGreen: #043933;
$color-green: #B5E916;
$color-lightGreen: #dde6e7;
$color-midGreen: #a2c1c4;
$color-carrot: #ff6945;

$font: "heliosexBOLD-neuemachina", Arial, sans-serif;
$font_machina: 800;
$font_helios: 400;
$font-cofo: "CoFo Sans", Arial, sans-serif;

$hor-tablet: 1199px;
$ver-tablet: 959px;
$hor-mobile: 639px;
$ver-mobile: 479px;
