.quiz__description {
    font-family: "heliosexBOLD-neuemachina";
	font-weight: 400;
	font-size: 20px;
	color: #181818;
	line-height: 1.1;

    span {
        background: #B5E916;
        border-radius: 4px;
        padding: 0px 3px 3px 3px;

        @media screen and (max-width: $hor-mobile) {
            padding: 0px 3px 1px 3px;
        }
    }

    @media screen and (max-width: $hor-mobile) {
		font-size: 16px;
	}
}