@import "../../../fonts/index.scss";

#allrecords a {
	color: inherit;
}

* {
	padding: 0;
	margin: 0;
	font-family: "heliosexBOLD-neuemachina", Arial, sans-serif;
	box-sizing: border-box;
}

.inner-wrapper {
	width: 1160px;
	margin: 0 auto;
	position: relative;

	@media screen and (max-width: 1199px) {
		max-width: 940px;
	}
	@media screen and (max-width: 959px) {
		max-width: 620px;
	}
	@media screen and (max-width: 639px) {
		max-width: 460px;
	}
	@media screen and (max-width: 479px) {
		max-width: 300px;
	}
}

.reverse {
	margin-bottom: 60px;

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;

		@media screen and (max-width: 1199px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: 959px) {
			grid-template-columns: 1fr;
		}
	}

	&__card {
		position: relative;
		border-radius: 8px;

		&-front,
		&-back {
			overflow: hidden;
			backface-visibility: hidden;
			transition: transform 0.5s ease-in-out;
			height: 100%;

			@media screen and (max-width: 959px) {
				overflow: auto;
				backface-visibility: initial;
				height: auto;
			}
		}

		&-front {
			display: flex;
			flex-direction: column;
			gap: 40px;
			transform: perspective(600px) rotateY(0deg);
			background: #dde6e7;
			padding: 40px 40px 40px 30px;
			border-radius: 8px;
			position: relative;
			justify-content: space-between;

			@media screen and (max-width: 959px) {
				flex-direction: row;
				transform: unset;
				padding: 20px 15px;
				gap: 0;
				align-items: center;
			}
		}

		&-back {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transform: perspective(600px) rotateY(180deg);
			padding: 40px 40px 40px 30px;
			border-radius: 8px;
			background: #bad2d8;

			@media screen and (max-width: 959px) {
				transform: unset;
				position: initial;
				top: unset;
				left: unset;
			}
		}

		&-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 52px 52px;
			gap: 10px;

			@media screen and (max-width: 959px) {
				display: flex;
				gap: 10px;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}

		@media screen and (min-width: 960px) {
			&:hover > .reverse__card-front {
				transform: perspective(600px) rotateY(-180deg);
			}

			&:hover > .reverse__card-back {
				transform: perspective(600px) rotateY(0deg);
			}
		}

		&-title {
			color: #000;
			font-size: 40px;
			font-weight: 400;
			line-height: 1;

			@media screen and (max-width: 959px) {
				font-size: 24px;
			}

			&_back {
				@media screen and (min-width: 959px) {
					display: none;
				}
			}
		}

		&-arrow {
			width: 34px;
			max-height: 28px;
			object-fit: contain;
			margin-left: auto;
			transition: 0.3s ease-in-out transform;

			&_desktop {
				@media screen and (max-width: 1199px) {
					display: none;
				}
			}
			&_mobile {
				width: 32px;
				max-height: 32px;
				transition: 0.3s ease-in-out transform;
				@media screen and (min-width: 1200px) {
					display: none;
				}
			}
		}

		@media screen and (max-width: 959px) {
			&_closed {
				background: #dde6e7;
				transition: 0.3s ease-in-out;
				border-radius: 8px;
				
				.reverse__card-front {
					transition: .3s ease-in-out;
				}

				.reverse__card-back {
					background: #dde6e7;
					visibility: hidden;
					opacity: 0;
					pointer-events: none;
					max-height: 0;
					transition: 0s;
					padding: 0 15px 0 15px;
				}
			}

			&_opened {
				background: #bad2d8;
				transition: 0.3s ease-in-out;

				.reverse__card-arrow_mobile {
					transform: rotate(90deg);
				}

				.reverse__card-front {
					background: #bad2d8;
					transition: .3s ease-in-out;
				}

				.reverse__card-back {
					background: #bad2d8;
					visibility: visible;
					opacity: 1;
					pointer-events: auto;
					max-height: initial;
					transition: 0.2s;
					padding: 0 15px 20px 15px;
					transition: .3s ease-in-out;
				}
			}
		}
	}

	&__link {
		display: flex;
		@media screen and (max-width: 959px) {
			max-width: calc(50% - 5px);
		}
	}

	&__img {
		width: 100%;
		object-fit: contain;
	}
}
